@import "primer";
@import "tooltips";
@import "anchor";
@import "bootstrap-tables";

// Base styles
body {
  background-color: #1a1a1a;
  color: #c0c0c0;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

// Responsive container
.container {
  @media (max-width: 979px) {
    margin: 0 2%;
    width: 96%;
  }
}

// Top bar
.top-bar {
  $background-color: #000;
  $color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lighten($background-color, 10%);
  background-color: $background-color;
  color: $color;

  .title {
    margin-right: 1em;
    &, & > * {
      color: $color;
    }
    a {
      padding: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }

  a {
    color: #d9d9d9;
    padding: 0 .5em;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

// Under bar
.under-bar {
  $background-color: rgba(0, 0, 0, 0.8);
  $color: darken(#fff, 15%);
  background-color: $background-color;
  color: $color;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: lighten($background-color, 10%);

  h1, h2, h3, h4, h5, h6 {
    border-bottom: 0;
  }

  .separated > * {
    margin-left: 1em;
  }
}

// Small inside headers
h1, h2, h3, h4, h5, h6 {
  & > small {
    font-size: .5em;
    color: #909090;
  }
}

// Changing blankslate colors
.blankslate {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05) inset;
  background-color: #050505;
  border: 1px solid #1A1A1A;

  .mega-octicon {
    color: #707070;
  }
}

// Fixing lead margins in slates
.blankslate {
  p.lead {
    margin-bottom: 0;
  }
}

// Making a copy of blankslate without text-align: center
.slate {
  @extend .blankslate;
  text-align: initial;
}

// Utilities
.dotted-underline {
  cursor: help;
  border-bottom: 1px dotted #c0c0c0;
}

.text-center {
  text-align: center;
}

// Fixing colors
.lead {
  color: #c0c0c0;
}

a {
  color: #4183C4;
}

// Add border to headers
h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #343434;
}

// Remove border from captioned headers
caption {
  h1, h2, h3, h4, h5, h6 {
    border-bottom: none;
  }
}

// Fixed-width octicons
.octicon {
  &.fixed-width-octicon {
    width: 16px;
    text-align: center;
  }
}

.mega-octicon {
  &.fixed-width-octicon {
    width: 32px;
    text-align: center;
  }
}
