// Tooltip inversion

.tooltipped:after {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

.tooltipped .tooltipped-s:before, .tooltipped .tooltipped-se:before, .tooltipped .tooltipped-sw:before {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.tooltipped.tooltipped-n:before, .tooltipped.tooltipped-ne:before, .tooltipped.tooltipped-nw:before {
  border-top-color: rgba(255, 255, 255, 0.8);
}

.tooltipped.tooltipped-e:before {
  border-right-color: rgba(255, 255, 255, 0.8);
}

.tooltipped.tooltipped-w:before {
  border-left-color: rgba(255, 255, 255, 0.8);
}

.anchor-link {
  float: left;
  width: 1em;
  height: 1em;
  margin-left: -1.2em;
  opacity: 0;
  color: inherit;
  text-align: center;
}

// Left-aligned tooltips
.tooltipped-left.tooltipped:after {
  text-align: left;
}

.tooltipped-right.tooltipped:after {
  text-align: right;
}
