<div class="top-bar">
    <div class="container">
        <strong class="title">
            <a href="/">{{ nick }}</a>
        </strong>
        <a href="/games">Games</a>
        <a href="/packs">Packs</a>
        <a href="/channels">Channels</a>
    </div>
</div>
<div class="under-bar">
    <div class="container">
        {% block underbar %}{% endblock %}
    </div>
</div>
