{% extends 'master.twig' %}

{% block content %}
    <div class="columns">
        <div class="one-third column">
            {% block left %}{% endblock %}
        </div>
        <div class="two-thirds column">
            {% block right %}{% endblock %}
        </div>
    </div>
{% endblock %}
