<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/primer.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css"/>
</head>
<body>
<div class="container">
  {% block content %}{% endblock %}
</div>
</body>
</html>
